table {
    min-width: 10%;
    width: 90%;
    margin: 0 auto 15px;
    border-collapse: collapse;
}

th {
    background-color: #666666;
    border: 1px solid #000000;
}

td {
    border: 1px solid #000000;
    padding: 0 1px;
}



#main-content h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
}
